{% extends 'server/technical/pattern.html' %}
{% load static %}
{% block title %}{{ data.title }}{% endblock %}
{% block content %}
<main>
      <!-- tp-slider-area-start -->
         <div class="container">
            <div class="row align-items-start">
               <div class="col-xl-6 col-lg-6">
                  <div class="tp-hero__content-box">
                     <h3 class="tp-hero__title-lg pb-20 theme-color wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">UNIBOT®️RANTI
                     </h3>
                     <p class="wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".5s">Это удобный Telegram-бот, который помогает находить работу, развивать бизнес, участвовать в интересных мероприятиях и конкурсах — всё в одном месте. С помощью бота вы сможете:</br>
                        🔹 Автоматизировать рутинные задачи</br>
                        🔹 Участвовать в челленджах и конкурсах для развития своих навыков</br>
                        🔹 Общаться с активным сообществом профессионалов</br>
                        🔹 Получать доступ к современным технологиям, которые раньше были доступны только специалистам</br></br>
                        Бот прост в использовании и всегда под рукой — достаточно открыть Telegram.
</p>
                  </div>
                  <div class="tp-hero__button-box wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".7s">
                     <a class="tp-btn-blue-square mb-20 mr-25" href="https://t.me/RantiieBot"><span>Подписка 1 000 ₽/мес</span></a>
                     <a class="tp-btn-pink mb-20" href="#faq"><span>Частые вопросы</span></a>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6 wow tpfadeRight" data-wow-duration=".9s" data-wow-delay=".9s">
                  <div class="tp-hero__wrapper-3 d-flex justify-content-center justify-content-lg-end">
                     <div class="tp-hero__thumb-3">
                        <img src="{% static 'server/assets/img/hero/hero-3.png' %}" alt="">
                        <div class="tp-hero__thumb-shape-1">
                           <img src="{% static 'server/assets/img/hero/hero-shape-3-1.png' %}" alt="">
                        </div>
                        <div class="tp-hero__thumb-shape-2">
                           <img src="{% static 'server/assets/img/hero/hero-shape-3-2.png' %}" alt="">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- tp-slider-area-end -->

      <!-- tp-about-area-start -->
      <div id="about-inner__area" class="about-inner__area pt-130 pb-130">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-lg-9 col-md-12">
                  <div class="about-inner__section-box mb-70 text-center wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">
                     <span class="about-inner__subtitle">Предложение для вас</span>
                     <h3 class="tp-section-title-md">Забери бесплатную версия продукта</h3>
                  </div>
               </div>
            </div>
            <div class="row g-0">
               <div class="col-xl-7 col-lg-7">
                  <div class="about-inner__wrapper wow tpfadeLeft" data-wow-duration=".9s" data-wow-delay=".5s">
                     <div class="row gx-10">
                         <div class="col-xl-6 col-lg-6 wow tpfadeLeft" data-wow-duration=".9s" data-wow-delay=".5s">
                  <div class="tp-about__thumb-wrapper p-relative">
                     <div class="tp-about__thumb">
                        <img src="{% static 'server/assets/img/about/ab-inner-1.png' %}" alt="">
                     </div>
                  </div>
               </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-5 col-lg-5 wow tpfadeRight" data-wow-duration=".9s" data-wow-delay=".7s">
                  <div class="about-inner__right">
                     <div class="about-inner__content">
                        <p>Идеальный инструмент для продвижения товаров и услуг с помощью Искусственного Интеллекта — прямо в Telegram!</p>
                         <p>Что умеет бот бесплатно:</p>
                     </div>
                     <div class="about-inner__list">
                        <ul>
                           <li><i class="far fa-check"></i>Создание продающих текстов — генерируй посты и описания для соцсетей за секунды</li>
                           <li><i class="far fa-check"></i>Помощь в маркетинге — улучшай тексты, заголовки и рекламные сообщения</li>
                           <li><i class="far fa-check"></i>Интерактивные мини-игры — играй в "Сорви Лимон" и "Молодец", чтобы вовлечь аудиторию</li>
                           <li><i class="far fa-check"></i>Простой и понятный интерфейс — не нужно разбираться в ИТ</li>
                            <li><i class="far fa-check"></i>Доступ прямо из Telegram — всегда под рукой, не требует установки</li>
                        </ul>
                     </div>
                     <div class="about-inner__btn d-flex align-items-center">
                        <a class="tp-btn-blue-square mr-20" href="https://t.me/RantiieBot"><span>Начать бесплатно</span></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- tp-testimonial-area-start -->
      <div id="reviews" class="tp-testimonial__area grey-bg pt-110 pb-120 fix">
         <div class="container-fluid">
            <div class="row g-0">
               <div class="col-12">
                  <div class="tp-testimonial__section text-center pb-50">
                     <h3 class="tp-section-title wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">Отзывы</h3>
                  </div>
               </div>
            </div>
            <div class="tp-testimonial__section">
               <div class="tp-testimonial__active">
                  {% for el in reviews %}
                  <div class="tp-testimonial__slider-item d-flex align-items-center p-relative wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".5s">
                     <div class="tp-testimonial__slider-content">
                        <p>{{ el.dsc }}</p>
                        <h4 class="tp-testimonial__slider-title">- {{ el.user }}</h4>
                     </div>
                     <div class="tp-testimonial__slider-quote">
                        <i class="fas fa-quote-left"></i>
                     </div>
                  </div>
                 {% endfor %}
               </div>
            </div>
         </div>
      </div>
      <!-- tp-testimonial-area-end -->

      <!-- tp-cta-area-start -->
      <div class="tp-app__area theme-bg pt-120 pb-120">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-xl-6 col-lg-6 wow tpfadeLeft" data-wow-duration=".7s" data-wow-delay=".5s">
                  <div class="tp-app__thumb">
                     <img src="{% static 'server/assets/img/ranti.jpg'%}" alt="">
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6 wow tpfadeRight" data-wow-duration=".7s" data-wow-delay=".7s">
                  <div class="tp-app__wrapper">
                     <div class="tp-app__content">
                        <h3 class="tp-section-title text-white mb-30">Расширенные возможности 📱
                        </h3>
                        <p>✅ Партнёрская программа — получайте бонусы и призы от партнёров</br>
                         ✅ Реклама в боте — продвигайте свой бизнес среди нашей аудитории (уже 3000+ пользователей)</br>
                         ✅ Личный планировщик — записывайте и управляйте своими задачами прямо в боте</br>
                         ✅ Сокращение ссылок — делитесь красивыми и удобными короткими ссылками</br>
                         ✅ Доступ к обучающим материалам — полезные курсы и статьи на темы: бизнес, семья, личностный рост и многое другое</p>
                     </div>
                     <div class="tp-app__download">
                        <div class="tp-app__thumb-sm d-flex">
                           <div class="tp-app__thumb-sm-1">
                              <a href="#"><img src="assets/img/app/app-2.png" alt=""></a>
                           </div>
                           <div class="tp-app__thumb-sm-2">
                              <a href="#"><img src="assets/img/app/app-3.png" alt=""></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- tp-cta-area-end -->

      <!-- tp-faq-area-start -->
      <div id="faq" class="tp-faq__area pt-120 pb-110">
         <div class="container">
            <div class="row">
               <div class="col-xl-7 col-lg-6">
                  <div class="tp-custom-accordio-3">
                     <div class="accordion" id="accordionExample">
                         {% for item in faq %}
                         <div class="accordion-items wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".{{ forloop.counter }}s">
                             <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                 <button class="accordion-buttons {% if not forloop.first %}collapsed{% endif %}" type="button"
                                         data-bs-toggle="collapse"
                                         data-bs-target="#collapse{{ forloop.counter }}"
                                         aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                                         aria-controls="collapse{{ forloop.counter }}">
                                     {{ item.title }}
                                 </button>
                             </h2>
                             <div id="collapse{{ forloop.counter }}"
                                  class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                                  aria-labelledby="heading{{ forloop.counter }}"
                                  data-bs-parent="#accordionExample">
                                 <div class="accordion-body">
                                     {{ item.ask }}
                                 </div>
                             </div>
                         </div>
                         {% endfor %}
                     </div>
                  </div>
               </div>
               <div class="col-xl-5 col-lg-6 wow tpfadeRight" data-wow-duration=".9s" data-wow-delay=".9s">
                  <div class="tp-faq__right-side text-center">
                     <div class="tp-faq__icon">
                        <a href="#">
                           <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M5.9542 23.9764L0 29V0H30V23.9764H5.9542Z" fill="#017EFA"/>
                           </svg>
                        </a>
                     </div>
                     <div class="tp-faq__content">
                        <h4 class="tp-faq__faq-sm-title">Остались вопросы?</h4>
                        <p>Оставьте заявку на нашем сайте, мы ответим на ваше обращение в течении </p>
                        <div class="tp-submit-button">
                           <button type="button" class="tp-btn-sky wow tpfadeUp" data-bs-toggle="modal" data-bs-target="#questionModal">
                              <span>Заполнить заявку</span>
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   <div class="modal fade" id="questionModal" tabindex="-1" aria-labelledby="questionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h5 class="modal-title" id="questionModalLabel">Оставьте заявку</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="">
          {% csrf_token %}
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="tp-contact-input">
                {{ form.name_user }}
                {% if form.name_user.errors %}
                  <div class="text-danger">{{ form.name_user.errors.0 }}</div>
                {% endif %}
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="tp-contact-input">
                {{ form.email }}
                {% if form.email.errors %}
                  <div class="text-danger">{{ form.email.errors.0 }}</div>
                {% endif %}
              </div>
            </div>
            <div class="col-12">
              <div class="tp-contact-input">
                {{ form.ask }}
                {% if form.ask.errors %}
                  <div class="text-danger">{{ form.ask.errors.0 }}</div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="tp-submit-button">
                <button type="submit" class=""><span>Отправить</span></button>
              </div>
            </div>
          </div>
        </form>
        {% if success %}
          <div class="alert alert-success mt-3">Ваше сообщение успешно отправлено!</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
      <!-- tp-faq-area-end -->
   </main>
{% endblock %}



